# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
.venv/
venv/
ENV/
.env
.env.*

# Jupyter Notebooks
.ipynb_checkpoints


# Data and tokenizer folders
data/
tokenizer/

# OS files
.DS_Store

# VS Code
.vscode/

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Remove this line if you want to include data or tokenizer in repo
data/
tokenizer/