# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
.venv/
venv/
ENV/
.env
.env.*

# Jupyter Notebooks
.ipynb_checkpoints

# Tokenizer and corpus cache (if any)
tokenizer_bpe/
corpus_data/

# OS files
.DS_Store

# VS Code
.vscode/

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Remove this line if you want to include tokenizer/corpus data in repo
sample_corpus/
corpus_data/